*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
}
body{
    padding: 2% 5%;
}
header{
    text-align: center;
    padding: 20px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.box{
    width: 300px;
}
img{
    width: 100%;
}